html {
    height: 100%;
    width: 100%;
  }
  
  body {
    background-image: linear-gradient(#FED9ED, #E7BCDE, #BB9CC0, #67729D);
  }
  
  #title {
    text-align: center;
    color: #636FA4;
    background-color: #E7BCDE;
  }
  
  #draw {
    color: #636FA4;
  }